*{
  background-color: #f8f9fa;
}
.container {
  max-width: 400px;
  margin: 100px auto;
  box-shadow: 0 8px 89px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
}

.btn-register {
  background-color: #007bff;
  color: #fff;

}

.btn-register:hover {
  background-color: #0056b3;
}
