<!-- <div class="container-fluid mw-xl mw-lg-2xl mx-auto mx-lg-0  " > -->
  <!-- <img src="/assets/homeimage.jpg" alt="" style="height:50%; width:50% " > -->
  <!-- <p style="overflow-x: hidden;max-width: 30%;">slafjsklffjjjjjjjjjjjjjjjjjalssssssssssssssssssssssiefdsjalsfaskljsdkfffffffffncccccccccccccccccccccccccccccccccccccccccccccccccccxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvmmmmmmmmmmmmmmmmmmmssssssssssssssssssssssssssssssssssssssssssssssaaaaaaaaaaaaaaaaaaa</p>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<!-- <div class="custom-shape-divider-top-1702889329">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div> -->
<!-- <div class="custom-shape-divider-top-1702889535">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
  </svg>
</div> -->

<!--
<div class="container-fluid ">
  <div class="container mt-5 " id="h2-heading">

  <section class="welcome-section">
    <div class="container">
      <h1 id="h2-heading">YOURSEED</h1>
      <p>At [Your Brand Name], we are passionate about bringing the purest and highest-quality organic seeds to your doorstep...</p>
    </div>

  </section>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    < class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/seedproject/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/seedproject/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/seedproject/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/seedproject/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/seedproject/2.jpg" class="d-block w-100" alt="...">
      </div>
      <!-- <div class="carousel-item">
        <img src="/src/assets/seedproject/Winter-Veg-1-200x200-0.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h2>Grow Your Garden, Nourish Your Life</h2>

  <section class="key-features-section">
    <div class="container">
      <h2>Why Choose  Seeds?</h2>
      <div class="feature">
        <h3>Premium Quality</h3>
        <p>Discover a curated selection of premium organic seeds, carefully chosen for their quality and purity...</p>
      </div>
      <div class="feature">
        <h3>Wide Variety</h3>
        <p>Explore a diverse range of organic seeds, including vegetables, herbs, flowers, and more...</p>
      </div>
      <div class="feature">
        <h3>Sustainable Practices</h3>
        <p>Our commitment to sustainability goes beyond our seeds. We support eco-friendly farming practices...</p>
      </div>
    </div>
  </section>

  </div>
</div> -->

<!-- <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Link with href
</a> -->
<!-- <div class="container">
  <div class="toggle-icon">
    <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      see services
    </button>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
      <button type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <ul>
          <li>
            <a class="nav-link" routerLink="/login" routerLinkActive="active">SEEDS</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/special" routerLinkActive="active">PLANTS SAPLETS</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/special" routerLinkActive="active">FRUITS</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/special" routerLinkActive="active">VEGETABLES</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/special" routerLinkActive="active">DAIRY PRODS</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/special" routerLinkActive="active">GREENS</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/special" routerLinkActive="active">MY-CART</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div> -->

<div class="container">
  <div>
    <app-sidebar></app-sidebar>
  </div>
  <br><br>
</div>

<!-- <div id="title" class="slide">
    <h1>SEEDIT</h1>
</div> -->
<div class="slide" id="slide1">
  <div class="title">
    <h1>SEEDIT</h1>
    <p>
      Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim
    </p>
  </div>

</div>


<div id="slide2" class="slide">
  <div class="title">
    <h1>Slide 2</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
  <img src="/assets/seedproject/2.jpg">
  <img src="/assets/seedproject/3.jpg">
</div>
<div id="slide3" class="slide">
  <div class="title">
    <h1>Slide 3</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
</div>
<footer>
  <div class="slide" id="credits">
    <div class="content">
      <h2>CREDITS</h2>
      <br><br><br>
      <p>
        https://fonts.googleapis.com/css?family=Nunito
      </p>
    </div>
    <div class="connections">
      icon - github
      join icon - Community
      .
      .
      .
    </div>
  </div>
</footer>
