<div class="container shadow">
  <h2 class="text-center">Login</h2>
  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
    </div>
    <button type="submit" class="btn btn-success btn-login shadow">Login</button>
  </form>
</div>
