
<div class="container">
  <div>
    <app-sidebar></app-sidebar>
  </div>
  <br><br>
</div>

<!-- <div id="title" class="slide">
    <h1>SEEDIT</h1>
</div> -->
<div class="slide" id="slide1">
  <div class="title" >
    <h1>SEEDS</h1>
    <p>Explore our extensive catalog, featuring heirloom varieties, rare species, and time-tested favorites. With the convenience of online shopping, you can bring the magic of cultivation right to your doorstep. Join us in sowing the seeds of a sustainable and green future. Let your gardening aspirations take root and flourish!


    </p>
  </div>

</div>


<div id="slide2" class="slide">
  <div class="title">
    <h1>EDIBLES</h1>
    <p>Welcome to our online fruit shopping platform, where the vibrant colors and fresh aromas of nature come together to offer you a delightful shopping experience. Navigating through our virtual aisles, you'll find a cornucopia of choices, from succulent berries to exotic tropical fruits, all sourced from the finest orchards around the world.</p>
  </div>

</div>
<div id="slide3" class="slide">
  <div class="title">
    <h1>PRODUCE AND STAPLES</h1>
    <p>Delight your taste buds and elevate your culinary experiences with our premium selection of fresh, vibrant vegetables. At our online vegetable market, we bring the farm to your table, ensuring that every vegetable is a testament to quality and flavor. From crisp greens to robust root vegetables, our collection is a cornucopia of nature's bounty, ready to inspire your next gastronomic masterpiece.</p>
  </div>
</div>
<footer>
  <div  id="credits">
    <div class="content">
      <h2 style="color: aliceblue;">CREDITS</h2>


    </div>
    <div class="connections">
      <p>&copy;..........</p>
      <a href="https://github.com/your-github-username" target="_blank">
          <i class="fa fa-github"></i> View on Github

      </a>


    </div>
  </div>
</footer>
