<section class="product">
  <div class="container text-center mt-5" >
    <div class="row">
      <div class="col-md-3 d-flex">
        <div class="box">
          <div class="product-image">
            <img src="/assets/dairy-prod/milk.jpeg" alt="none">
            <p>BUTTER</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="box">
          <div class="product-image">
            <img src="/assets/dairy-prod/cheese.jpg" alt="none">
            <p>Cheese</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="box">
          <div class="product-image">
            <img src="/assets/dairy-prod/clotted-cream.jpeg "alt="none">
            <p>CLOTTED CREAM</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="box">
          <div class="product-image">
            <img src="/assets/dairy-prod/casien.jpeg" alt="none">
            <p>Casien</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="box">
          <div class="product-image">
            <img src="/assets/dairy-prod/cottage-cream.jpeg" alt="none">
            <p>COTTAGE CREAM</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="box">
          <div class="product-image">
            <img src="/assets/dairy-prod/ghee.jpeg" alt="none">
            <p>GHEE</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="box">
          <div class="product-image">
            <img src="/assets/dairy-prod/cream-cheese.jpeg" alt="none">
            <p>CREAM CHEESE</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="box">
          <div class="product-image">
            <img src="/assets/dairy-prod/butter.jpeg" alt="none">
            <p>BUTTER</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="box">
          <div class="product-image">
            <img src="/assets/dairy-prod/whey-protien.jpeg" alt="none">
            <p>WHEY PROTIEN</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="box">
          <div class="product-image">
            <img src="/assets/dairy-prod/yogurt.jpeg" alt="none">
            <p>YOGURT</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
