  <!-- <mat-toolbar class="example-header">Header</mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom">
      {{options.value.fixed ? 'Fixed' : 'Non-fixed'}} Sidenav
    </mat-sidenav>

    <mat-sidenav-content>
      <p><mat-checkbox formControlName="fixed">Fixed</mat-checkbox></p>
      <p><mat-form-field>
        <mat-label>Top gap</mat-label>
        <input matInput type="number" formControlName="top">
      </mat-form-field></p>
      <p><mat-form-field>
        <mat-label>Bottom gap</mat-label>
        <input matInput type="number" formControlName="bottom">
      </mat-form-field></p>
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="example-footer">Footer</mat-toolbar>
 -->

 <!-- <div class="toggler">
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Button with data-bs-target
  </button>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <ul>
          <li>
            <a class="nav-link" routerLink="/login" routerLinkActive="active">category</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/special" routerLinkActive="active">fruit</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="header">
  <div class="brand-heading">
    <h1>Seedit</h1>
  </div>
</div> -->

<!-- <div class="container">
  <div class="toggle-icon">
    <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      see services
    </button>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
      <button type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <ul>
          <li>
            <a class="nav-link" routerLink="/event" routerLinkActive="active">SEEDS</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/special" routerLinkActive="active">PLANTS SAPLETS</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/fruits" routerLinkActive="active">FRUITS</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/vegies" routerLinkActive="active">VEGETABLES</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/dairy" routerLinkActive="active">DAIRY PRODS</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/special" routerLinkActive="active">GREENS</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/cart" routerLinkActive="active">MY-CART</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div> -->
