


<section class="product">
  <div class="container text-center mt-5">
    <div class="row ">
      <div class="col-md-3 d-flex ">
        <div class="box">
          <div class="product-image ">
            <img src="/assets/vegies/salsify.jpg" alt="none">
            <div class="content">

            </div>
              <p>SALSIFY</p>
             <button type="button" class="btn" id="buttonminus">ADD TO CART
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="product-image ">
            <img src="/assets/vegies/Romanesco.jpg" alt="none">
            <div class="content">
              <div class="plus-minus-buttons"></div>

              <p>RAMESCO FRUIT</p>

              <button type="button" class="btn" id="buttonminus">ADD TO CART

              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="product-image ">
            <img src="/assets/vegies/palmfruit.jpeg" alt="none">
          </div>
          <div class="content">

              <p>PALMFRUIT</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="product-image ">
            <img src="/assets/vegies/kohlrabi.jpg" alt="none">
          </div>
          <div class="content">

            <button type="button" class="btn" id="buttonminus">ADD TO CART
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="product-image ">
            <img src="/assets/vegies/gabbage.jpeg" alt="none">
          </div>
          <div class="content">

              <p>GABBAGE</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="product-image ">
            <img src="/assets/vegies/chilli.jpeg" alt="none">
          </div>
          <div class="content">

              <p>CHILLI</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="product-image ">
            <img src="/assets/vegies/celeric.jpeg" alt="none">
          </div>
          <div class="content">

            <!--<button type="button" class="plus-minus-buttons" id="buttonplus"           + <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224h68c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288h600c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
            </button> -->
              <p>CELERIC</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="product-image ">
            <img src="/assets/vegies/capsic.jpeg" alt="none">
          </div>
          <div class="content">


              <p>CAPSICON</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="product-image ">
            <img src="/assets/vegies/cassava.jpg" alt="none">
          </div>
          <div class="content">


              <p>CASSAVA</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="product-image ">
            <img src="/assets/vegies/broadbean.jpg" alt="none">
          </div>
          <div class="content">


              <p>DRAGON FRUIT</p>
            <button type="button" class="btn" id="buttonminus">ADD TO CART
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

